{{ 'hero-section-left.css' |  asset_url | stylesheet_tag }}


<section class="hero-left" style="
      background-color: {{ section.settings.background_color }};
    ">
  <div class="hero-content">
    <div class="item-center">
      <h1 class="upper__title" style="color: {{ section.settings.upper_title_color }}">{{ section.settings.upper_title }}</h1>
      <h1 class="lower__title" style="color: {{ section.settings.lower_title_color }}">{{ section.settings.lower_title }}</h1>
      <p class="description" style="color: {{ section.settings.description_color }};">
        {{ section.settings.description }}</p>
      <a href="{{ section.settings.button_left_url }}" class="hero-btn" 
        style="color: {{ section.settings.btn_left_color }}; background-color: {{ section.settings.bg_btn_left_color }};"
      >{{ section.settings.button_left_text }}</a>
      <a href="{{ section.settings.button_right_url }}" class="hero-btn" 
        style="color: {{ section.settings.btn_right_color }}; background-color: {{ section.settings.bg_btn_right_color }};"
      >{{ section.settings.button_right_text }}</a>
    </div>
  </div>


  <div class="right-content-test">
    <p>.</p>
  </div>
</section>


{%  schema  %}  
{
  "name": "Hero Section Left",
  "class": "hero-section-left",
  "settings": [
    {
      "type": "text",
      "id": "upper_title",
      "label": "Upper Title",
      "default": "Art & Apparel"
    },
    {
      "type": "color",
      "id": "upper_title_color",
      "label": "Upper Title Color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "lower_title",
      "label": "Lower Title",
      "default": "Designed by Us or by You"
    },
    {
      "type": "color",
      "id": "lower_title_color",
      "label": "Lower Title Color",
      "default": "#ED1C24"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Explore our wide range of products tailored to your needs."
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "Description Color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "button_left_text",
      "label": "Button Left Text",
      "default": "Shop Wall Art"
    },
    {
      "type": "url",
      "id": "button_left_url",
      "label": "Button Left URL"
    },
    {
      "type": "color",
      "id": "btn_left_color",
      "label": "Button Left Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "bg_btn_left_color",
      "label": "Button Left Background Color",
      "default": "#ED1C24"
    },
    {
      "type": "text",
      "id": "button_right_text",
      "label": "Button Right Text",
      "default": "Shop Apparel"
    },
    {
      "type": "url",
      "id": "button_right_url",
      "label": "Button Right URL"
    },
    {
      "type": "color",
      "id": "btn_right_color",
      "label": "Button Right Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "bg_btn_right_color",
      "label": "Button Right Background Color",
      "default": "#ED1C24"
    }
  ]

}
{% endschema %}