{{ 'hero-section-left.css' |  asset_url | stylesheet_tag }}


<section class="hero-left">
  <div class="hero__content"
    style="
      background-color: {{ section.settings.background_color }};
    "
  >
    <h1 class="upper__title" style="color: {{ section.settings.upper_title_color }}">{{ section.settings.upper_title }}</h1>
    <h1 class="lower__title" style="color: {{ section.settings.lower_title_color }}">{{ section.settings.lower_title }}</h1>
    <p class="description" style="color: {{ section.settings.description_color }};">
      {{ section.settings.description }}</p>
    <a href="/collections/all" class="hero-btn">Shop Wall Art</a>
    <a href="/collections/all" class="hero-btn">Shop Apparel</a>
  </div>


  <div class="right-content-test">
    <p>Test the right space</p>
  </div>
</section>


{%  schema  %}  
{
  "name": "Hero Section Left",
  "settings": [
    {
      "type": "text",
      "id": "upper_title",
      "label": "Upper Title",
      "default": "Art & Apparel"
    },
    {
      "type": "color",
      "id": "upper_title_color",
      "label": "Upper Title Color",
      "default": "#000000"
    },
    {
      "type": "text",
      "id": "lower_title",
      "label": "Lower Title",
      "default": "Designed by Us or by You"
    },
    {
      "type": "color",
      "id": "lower_title_color",
      "label": "Lower Title Color",
      "default": "#d51a1a"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Explore our wide range of products tailored to your needs."
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "Description Color",
      "default": "#000000"
    }
  ]

}
{% endschema %}